
<!-- Fixed overlap header -->

<header 
  class="hidden z-50 bg-bauhaus-paper drop-shadow-lg w-screen clear-both drop-shadow-lg bg-bauhaus-paper"
  data-scroll
  data-scroll-class="fixed"
  data-scroll-start=".frankReynolds" >

  <div class="relative py-2 w-20 mx-auto">
      <a href="{{ .Site.Home.RelPermalink }}">
        {{ with .Site.Params.site_logo }}
          <img src="{{ . }}" class="block w-14" alt="{{ $.Site.Title }}" />
        {{ else }}
          {{ .Site.Title }}
        {{ end }}
      </a>
    </div>

</header>

{{ partial "site-navigation.html" . }}
